@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

html, body {
  height: 100%;
  background: #000;
}
h1,h2,p {
  font-family: 'Source Code Pro';
  color: #fff;
}
h2 {
  margin-top: 50px
}
p span {
  font-size: 24px;
}
.space {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 600px;
  height: 600px;
  margin: auto;
  border: 1px solid #fff;
  font-size: 2px;
}
.info {
  margin-left: 50px;
}
.area {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
}
.user {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 30px 15px;
  border-color: transparent transparent #44ff00 transparent;
}
.invider-content {
  display: block;
  margin: 15px auto;
  width: 1em;
  height: 1em;
  overflow: hidden;
  box-shadow:
    0 0 0 1em #c400ff,
    0 1em 0 1em #c400ff,
    -2.5em 1.5em 0 .5em #c400ff,
    2.5em 1.5em 0 .5em #c400ff,
    -3em -3em 0 0 #c400ff,
    3em -3em 0 0 #c400ff,
    -2em -2em 0 0 #c400ff,
    2em -2em 0 0 #c400ff,
    -3em -1em 0 0 #c400ff,
    -2em -1em 0 0 #c400ff,
    2em -1em 0 0 #c400ff,
    3em -1em 0 0 #c400ff,
    -4em 0 0 0 #c400ff,
    -3em 0 0 0 #c400ff,
    3em 0 0 0 #c400ff,
    4em 0 0 0 #c400ff,
    -5em 1em 0 0 #c400ff,
    -4em 1em 0 0 #c400ff,
    4em 1em 0 0 #c400ff,
    5em 1em 0 0 #c400ff,
    -5em 2em 0 0 #c400ff,
    5em 2em 0 0 #c400ff,
    -5em 3em 0 0 #c400ff,
    -3em 3em 0 0 #c400ff,
    3em 3em 0 0 #c400ff,
    5em 3em 0 0 #c400ff,
    -2em 4em 0 0 #c400ff,
    -1em 4em 0 0 #c400ff,
    1em 4em 0 0 #c400ff,
    2em 4em 0 0 #c400ff;

    background: #c400ff;
}
.blast {
  background: #00c489;
}
.bomb {
  background: #5b3627;
}
